<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<p><%= settings.views %></p>
	<p><%= i18n.next %></p>
</body>
</html>
